@font-face {
  font-family: "Inika";
  src: local("Inika-Regular"),
    url("../resources/fonts/Inika-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "InikaBold";
  src: local("Inika-Bold"),
    url("../resources/fonts/Inika-Bold.ttf") format("truetype");
}

.stockItemDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  font-size: 1.5rem;
}
.stockItemDiv text{
  font-family: InikaBold;
}
.stockItemDiv Button{
  margin-left: 10px;
}
.stockItemDiv Button:hover{
  margin-left: 10px;
}
#stockDivider {
  width: 100%;
}
.mantine-Divider-label{
  font-size: 1.2rem;
  font-family: InikaBold, serif;
  display: flex;
}
#stocksHeader{
  display: flex;
  width: 100%;
  flex-direction: row;
}
#stocksHeader text{
  display: flex;
  width: 100%;
}

