@font-face {
  font-family: "Inika";
  src: local("Inika-Regular"),
    url("../resources/fonts/Inika-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "InikaBold";
  src: local("Inika-Bold"),
    url("../resources/fonts/Inika-Bold.ttf") format("truetype");
}

* {
  color: black;
  font-family: Inika, serif;
}

body{
  background-color: #6F6058;
  display: flex;
  flex-direction: column;
  max-height: 100%;
  max-width: 100%;
  margin-right: 5%;
  margin-left: 5%;
  justify-content: space-between;
}
.flexColAligned{
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.flexCol{
  display: flex;
  flex-direction: column;
}
.flexRow{
  display: flex;
  flex-direction: row;
}

#header1{ 
  color: #E4C696;
  font-size: xx-large;
  font-family: InikaBold;
  display: flex;
}

#tabbedMenu{
  padding-bottom: 1%;
}
.mantine-Tabs-root	{
}
.mantine-Tabs-tab	{
  background-color: #E4C696;
}
.mantine-Tabs-tab:hover	{
  background-color: #F5EFBB;
}
.mantine-Tabs-tab[data-active="true"] {
  background-color: #F5EFBB; 
}

.mantine-Tabs-tabLabel{
  font-family: InikaBold, serif;
}
.mantine-Tabs-panel {
    background-color: #F5EFBB;
    padding: 10px;
}

#client{
  background-color: white;
  margin-bottom: 1%;
  padding: 10px;
  display: flex;
  max-height: 30vh;
  overflow: hidden;
}

#rightHalf{
  flex: 1;
  display: flex;
  background-color: lightblue;
  align-items: center;
}
#clientImage {
  width: 100%;
  height: 100%;
}
#clientInfo{
  flex: 1;
  width: 100%;
  display: flex;
  padding-left: 10px;
}
#clientName{
  font-size: large;
  text-align: center;
  width: 100%;
  font-family: InikaBold, serif;
}
#clientNums{
  text-align: right;
  justify-content: flex-end;
  flex: 1;
}
.riskBars{
  width: 80%;
}
.reportIncome{
  width: 40%;
}

#clientNums text{
  font-family: InikaBold, serif;
}

#clientDetails{
  display: flex;
}

#narrativeBackground{
  align-items: center;
  justify-content: center;
}
#narrativeWrapper{
  background-color: whitesmoke;
  border: 2px solid #333;
  margin-top: 18vh;
  margin-bottom: 5vh;
  width: 45%;
  height: fit-content;
  padding: 2%;
}
#narrativeText{
  margin: 0;
  font-size: 18px;
  text-align: 'left';
}
#continueButton{
  padding: 10px 20px;
  font-size: '16px';
  cursor: pointer;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  outline: none;
  transition: background-color 0.3s;
}