@font-face {
  font-family: "Inika";
  src: local("Inika-Regular"),
    url("../resources/fonts/Inika-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "InikaBold";
  src: local("Inika-Bold"),
    url("../resources/fonts/Inika-Bold.ttf") format("truetype");
}

* {
  color: black;
  font-family: Inika, serif;
}

body{
  background-color: #6F6058;
  display: flex;
  flex-direction: column;
  max-height: 100%;
  max-width: 100%;
  margin-right: 5%;
  margin-left: 5%;
}

.mantine-Button-label:hover{
  color: white
}

/* General Styling */
.flexColAligned{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.flexCol{
  display: flex;
  flex-direction: column;
}
.flexRow{
  display: flex;
  flex-direction: row;
}
img {
  max-width: 100%;
  max-height:100%;
}

/* Portfolio - Portfolio Template*/
#portfolioDiv{
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
}

#header1{ 
  color: #E4C696;
  font-size: xx-large;
  font-family: InikaBold;
  display: flex;
  align-self: center;
}

#reportIncome{
  margin-top: 30px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#reportIncome Button {
  flex: .5;
  align-self: flex-end;
}
#reportBttnTxt:hover {
  color: green;
}

/* Portfolio - CLIENT INFO BAR */
#client{
  background-color: white;
  margin-bottom: 10px;
  padding: 10px;
  display: flex;
}

#rightHalf{
  flex: 1;
  display: flex;
  background-color: lightblue;
  justify-content: flex-start;
}

#clientImage {
  object-fit: contain;
  display: flex;
  align-self: last baseline;
}
#clientInfo{
  flex: 2;
  width: 100%;
  display: flex;
  padding-left: 10px;
}
#clientName{
  font-size: x-large;
  text-align: center;
  width: 100%;
  font-family: InikaBold, serif;
}
#clientNums{
  text-align: right;
  justify-content: flex-end;
  flex: 1;
}
#clientNums text{
  font-family: InikaBold, serif;
}
#clientDetails{
  display: flex;
}
.riskBars{
  width: 80%;
}

/* Portfolio - TABBED MENU */

#tabbedMenu{
  height: 100%;
  margin-bottom: 10px;
}
.mantine-Tabs-root	{
  height: 100%;
}

/* tabs */
.mantine-Tabs-tab	{
  background-color: #E4C696;
}
.mantine-Tabs-tab:hover	{
  background-color: #F5EFBB;
}
.mantine-Tabs-tab[data-active="true"] {
  background-color: #F5EFBB; 
}

.mantine-Tabs-tabLabel{
  font-family: InikaBold, serif;
}
/* panel */
.mantine-Tabs-panel {
    background-color: #F5EFBB;
    padding: 10px;
    height: 100%;
}
.panelHeader {
  font-size: x-large;
}

/* shared by stocks and donations list */
.listItemDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  font-size: 1.5rem;
  align-items: center;
}
.listItemDiv text{
  font-family: InikaBold;
}
#listItemDivider {
  width: 100%;
}
.mantine-Divider-label{
  font-size: 1.2rem;
  font-family: InikaBold, serif;
  display: flex;
  align-items: flex-end;
}

/* STOCKS */
#stockItemDiv Button{
  margin-left: 10px;
}
#sellStocksBttnTxt:hover{
  color: white;
}
#stocksHeader{
  display: flex;
  width: 100%;
  flex-direction: row;
}
#stocksHeader text{
  display: flex;
  width: 100%;
}

/* DONATIONS */
#donationItemDiv Button{
  margin-left: 10px;
}
#donationItemDiv Button:hover{
  margin-left: 10px;
}
#donationHeader{
  display: flex;
  width: 100%;
  flex-direction: row;
}
#donationHeader text{
  display: flex;
  width: 100%;
}
#removeBttn {
  align-self: center;
  margin-right: 5px;
}
#rightmost{
  display: flex;
  flex: 1;
}

/* ART ASSETS */
#artDiv{
  height: 100%;
}
#artCar{
  display: flex;
  flex: 1;
  background-color: pink;
}
#artSlide{
  background-color: green;
  display: flex;
  flex: 1;
  justify-content: center;
  align-content: center;
  align-items: center;
  justify-self: center;
  height: 100%;
  width: 100%;

}
#artImg{
  display: flex;
  width: 100%;
  height: 100%;
  background-color: aqua;
}
#artInfo{
}

/* DONATIONS */
#bankAccountItemDiv {
}
#bankAccountHeader {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}

/* Narrative */
#narrativeBackground{
  align-items: center;
  justify-content: center;
}
#narrativeWrapper{
  background-color: whitesmoke;
  border: 2px solid #333;
  margin-top: 18vh;
  margin-bottom: 5vh;
  width: 45%;
  height: fit-content;
  padding: 2%;
}
#narrativeText{
  margin: 0;
  font-size: 18px;
  text-align: 'left';
}
#continueButton{
  padding: 10px 20px;
  font-size: '16px';
  cursor: pointer;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  outline: none;
  transition: background-color 0.3s;
}